service: serverless-ecommerce-platform

provider:
  name: aws
  runtime: python3.11
  region: us-east-1

functions:
  signup:
    handler: lambda_functions/authentication/signup.lambda_handler
    events:
      - http:
          path: auth/signup
          method: post

  login:
    handler: lambda_functions/authentication/login.lambda_handler
    events:
      - http:
          path: auth/login
          method: post

  addProduct:
    handler: lambda_functions/product_management/add_product.lambda_handler
    events:
      - http:
          path: products
          method: post

  getProducts:
    handler: lambda_functions/product_management/get_products.lambda_handler
    events:
      - http:
          path: products
          method: get

  createOrder:
    handler: lambda_functions/order_processing/create_order.lambda_handler
    events:
      - http:
          path: orders
          method: post

  getOrders:
    handler: lambda_functions/order_processing/get_orders.lambda_handler
    events:
      - http:
          path: orders/{user_id}
          method: get

  recommend:
    handler: lambda_functions/recommendation_system/recommend.lambda_handler
    events:
      - http:
          path: recommendations/{user_id}
          method: get

resources:
  Resources:
    ProductsTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: Products
        AttributeDefinitions:
          - AttributeName: ProductID
            AttributeType: S
        KeySchema:
          - AttributeName: ProductID
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST

    OrdersTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: Orders
        AttributeDefinitions:
          - AttributeName: OrderID
            AttributeType: S
          - AttributeName: UserID
            AttributeType: S
        KeySchema:
          - AttributeName: OrderID
            KeyType: HASH
          - AttributeName: UserID
            KeyType: RANGE
        BillingMode: PAY_PER_REQUEST
